body,
html {
    height: 100%;
    margin: 0;
    
}

.hero-image {
    background-image: linear-gradient(rgba(92, 5, 27, 0.404), rgba(141, 23, 53, 0.26)), url("/Assets/img/refreshing-hibiscus-ice-tea-clear-glass-container.jpg");
    height: 100%;width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    

}
.mynav
{
    z-index: 1;
}
.hero-text {font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-115%,-40%);
    ;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}
